@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 13px;
    margin-left: 350px;
    font-size: 0.9em;
}

#HomeNavBarButton{
    margin: auto;
    width: 201px;
}

.home{
    position: relative;
    display: flex;
   /* flex-direction: column-reverse;*/
    width: 100%;
    width: 100%;
}
.homeText{
   /* background-color: black;*/
    width: 55em;
    height: 100vh;
    /* margin-left: 677px; */
    top: 100px;

}
.imgCon{
    width: 40em;
    height: 86vh;
   /* background-color: #e7280f;*/
    margin-top: 25px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 53px;
    position: relative;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
}
.imgCon>img{
    width: 737px;
    position: absolute;
    /* left: -134px; */
    /* bottom: 169px; */
    height: 395px;
    transform: translate(-138px, 72px);
}
.navbar{
    font-weight: normal;
}
.textOutCon{
    transform: translate(67px, 194px);
    width: 395px;
    width: 450px;
}
.textOutCon>h1{
    font-size: 3.02rem;
}
.textOutCon>h3{
    font-size: 1em;
   color: #e74c0f;

}
.searchBar{
    width: 812px;
    height: 79px;
    background-color: #ffffffad;
    position: absolute;
    transform: translate(82px, 488px);
    border-radius: 8px;
    /* border: 1px solid; */
    display: flex;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}
.searchBar>div:first-child{
    width: 25%;
    height: 100%;
    /*background-color: black;*/
    border-right: 1px solid black;
}
.searchBar>div:nth-child(2){
    width: 25%;
    height: 100%;
  /*  background-color: #5f0f0f;*/
    border-right: 1px solid black;
}
.searchBar>div:nth-child(3){
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
}
.searchBar>div:nth-child(4){
    width: 25%;
    height: 100%;

}
.searchBar>div:nth-child(4)>button{
    top: auto;
    align-content: center;
    transform: translate(32px, 16px);
    width: 136px;
    height: 48px;
    border: none;
    border-radius: 9px;
    background-color: #5d00ff;
    color: white;
}
#btnSignIn{
    width: 94px;
    height: 43px;
    border: 1px solid #7f01d9;
    border-radius: 9px;
    background-color: transparent;
    color: #7f01d9;
    margin-right: 8px;
    font-size: small;
}
#btnSignUp{
    border: none;
    border-radius: 9px;
    background-color: #7f01d9;
    color: white;
    width: 94px;
    height: 43px;
    font-size: small;
}

/*-----------------Section 2--------------------------------*/

.carSec{
    width: 98.7vw;
    height: 95vh;

}
.carSecText{

}
.carSecText>h1{
    text-align: center;
    font-weight: 600;
    color: #585454;
}
.carSecText>h2{
    text-align: center;
    color: #e74c0f;
}
.carCardCon{
    width: 80vw;
    height: 47vh;
    left: 0;
    right: 0;
    margin: auto;
    /*display: flex;
    flex-direction: row;
    gap: 20px;*/
    display: flex;
  justify-content: space-between;
    align-content: flex-end;
    column-gap: 40px;
    margin-top: 45px;
}

/*---------------Car image Card-----------------*/
.carCard1{
    position: relative;
    width: 22%;
    height: 100%;
 /*   border: 2px solid red;*/
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.carImg{
    height: 45%;
    border-radius: 10px;
  /*  border: 2px solid black;*/
}
#carouselExampleAutoplaying{
    border-radius: 10px;
}

/*---------------detail Container---------------*/
.detailCon{
    height: 55%;
    display: flex;
    flex-direction:column;

}
.detailCon>div:first-child{
    height: 50%;
    /*border: 2px solid black;*/
}
.detailCon>div:nth-child(2){
    height: 25%;
  /*  border: 2px solid red;*/
}
.detailCon>div:nth-child(3){
    height: 25%;
   /* border: 2px solid gold;*/
}

.detailCon>div:first-child>h1{
    font-size: 18px;
    font-weight: bold;
    transform: translate(10px, 5px);
}
.dailyPrice{
    transform: translate(10px, 4px);
    font-size: 16px;
    font-weight: bold;
    color: #e74c0f;
}
.monthlyPrice{
    transform: translate(10px, -2px);
    font-size: 13px;
    font-weight: 500;
    color: #7f01d9;
}
/*-------------------type container 2------------------------------*/

.typeCon{
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    margin-left: 22px;

}
.typeCon>div:first-child{
    width: 20%;

}
.typeCon>div:nth-child(2){
    width: 20%;
 /*   background-color: #5d00ff;*/
}
.typeCon>div:nth-child(3){
    width: 20%;
    /*background-color: #5d00ff;*/
}
.rentNow{
    background-color: #5d00ff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 218px;
    height: 33px;
    transform: translate(10px, 3px);
}
.typeCon>div>h1{
    font-size: 8px;
}
/*-----------------------------view More btn-----------------------*/
.viewMore{
    width: 74px;
    height: 24px;
    color: #e74c0f;
    transform: translate(638px, 45px);
    font-size: 10px;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid #e74c0f ;
    background-color: white;
}

/*---------------------Service Section --------------------------------*/
.serviceCon{
    position: relative;
    display: flex;
    /* flex-direction: column-reverse;*/
    width: 100%;
   /* background-color: #5d00ff;*/
}
.serviceImgCon{

    width: 55em;
    height: 85vh;
    /* margin-left: 677px; */
   /* top: 100px;*/
    position: relative;

}
.serviceImgCon>img{
    margin-left: -342px;
    top: 10px;
    margin-top: 33px;
    width: 1052px;
    height: 479px;
}
.serviceDetailCon{
    width: 40em;
    height: 85vh;
}

.ServiceSecText{
    transform: translate(-91px, 10px);
}
.ServiceSecText>h1{
    text-align: center;
    font-weight: 600;
    color: #585454;
    font-size: 30px;
}
.ServiceSecText>h2{
    text-align: center;
    color: #e74c0f;
    font-size: 25px;
}

.serviceListCon{
    width: 369px;
    height: 296px;
    margin-top: 51px;
    margin-left: 10px;

}
.serviceListCon>div:first-child{
    height: 33.3%;

}
.serviceListCon>div:nth-child(2){
    height: 33.3%;

}
.serviceListCon>div:nth-child(3){
    height: 33.3%;

}
.serviceListCon>div>h1{
    font-size: 23px;
    /* margin-right: -50px; */
    margin-left: 59px;
    margin-top: 14px;
}
.serviceListCon>div>h2{
    font-size: 16px;
    margin-left: 60px;
    margin-top: -6px;
    font-weight: 400;
}
.serviceListCon>div>img{
    width: 33px;
    height: 33px;
    position: absolute;
    margin-left: 15px;
    margin-top: 4px;
}

/*-----------------------------------------------Customer Detail Form-------------------------------------------*/
.title{
    font-size: 20px;
    margin-top: 31px;
    margin-left: 42px;
}
.detailsSecCon{
    position: relative;
    display: flex;
    flex-direction: row;

}
.detailImgSec{
    width: 50%;
    height: 80vh;
    margin-top: 40px;

}
.detailImgSec>img{
    width: 613px;
    transform: translate(10px, 70px);
}
.detailsSec{
    width: 50%;
    height: 80vh;
    margin-top: 15px;
    margin-left: 43px;
}
#cusRegNav{
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}
#cusDetailNav{
    box-shadow: 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.2);

}

/***************************************Login Page*************************/
.loginPageCon{
    width: 77vw;
    height: 85vh;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(21px);
    display: flex;
    flex-direction: row;
    z-index: 1;



}
.LoginImageCon{
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #e7280f 50%, #ffb939);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.LoginDetailCon{
    width: 50%;
    height: 100%;
   background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.LoginImageCon>img{
    width: 712px;
    height: 364px;
    transform: translate(-60px, 215px);

}
.loginMainSec{
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
    opacity: 50%;
    height: 100%; width:100%;
    filter: blur(50px);
    position: absolute;
}
.loginFormOutCon{
    position: relative;
    width: 351px;

    transform: translate(92px, 90px);

}
#btnLogin{
    width: 237px;
    margin: auto;
    transform: translateX(55px);
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
    border: none;
}
.loginTextInLoginForm{
    font-size: 29px;
    margin-top: -24px;
}

/*-----------------------------------------------Show Car Section-----------------------------------*/

.carOutSec{
    width: 84.7vw;
    /* display: grid; */
    height: 80vh;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 52px;
    align-content: space-between;
    justify-items: center;
    column-gap: -45px;
    margin-top: 24px;
    gap: -68px;
    /* margin-right: -58px; */
    transform: translateX(102px);

}
.carCardInRent{
    position: relative;
    width: 240px;
    height: 318px;
    /* border: 2px solid red; */
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.carDetailSec{
    width: 91.7vw;
    /* height: 37px; */
    /* border: 2px solid black; */
    margin-top: 6px;
    transform: translateX(96px);
    display: flex;
    flex-direction: row;
    gap: 13px;
    background-color: white;

}

.btnCategoriesFind{
    height: 30px;
    width: 105px;
    border-radius: 4px;
    color: #5d00ff;
    background-color: transparent;

    border: 1px solid #5d00ff;
    font-size: 15px;

}
.rentCarImg{
    width: 1349px;
    height: 157px;
    display: flex;
    flex-direction: row;

}
.rentCarText{
    margin-left: 92px;
    margin-top: 48px;
    /* text-align: center; */
}
.rentCarText>h2{
    color: #e74c0f;
    font-size: 26px;
}
.rentCarText>h1{

    font-size: 30px;
}
.rentCarImg>img{
    /* width: 239px; */
    transform: translate(447px, 4px);
}
.navUserNameCon{
    margin-top: -6px;
    width: 264px;
    height: 46px;
    cursor: pointer;

}
.navUserNameCon>img{
    width: 27px;
    margin-top: 15px;
}
.navUserNameCon>h1{
    font-size: 13px;
    margin-left: 35px;
    transform: translateY(-27px);
}
.navUserNameCon>h2{
    font-size: 10px;
    margin-left: 35px;

    transform: translateY(-36px);
}

/*---------------------------------------car cart--------------------------------------*/

.cartOutCon{
    width: 91.7vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    /* row-gap: 16px; */
    /* margin-top: 185px; */
    transform: translate(55px, 47px);
}
.tableSec{
    width: 70%;
    height: 100%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 5);
    border-radius: 10px;
}
.cartDetailSec{
    width: 30%;
    height: 100%;

    /* margin-right: 35px; */
    margin-left: 16px;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
    border-radius: 10px;

}
.tableSec>table{
    margin-top: 3%;
    border-collapse: separate;
    border-spacing: 1em;
}
.tableSec>h2{
    transform: translate(13px, 18px);
    font-weight: 600;
}
.tableSec>table>tbody>tr{
    /* width: 129px; */
    height: 71px;
    column-gap: 10px;
    gap: 10px;
    /* margin-bottom: 13px; */
    /* margin-top: -12px; */
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.tableSec>table>tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
}
.cartDetailSec>h2{
    transform: translate(13px, 18px);
    font-weight: 600;
    color: white;
}
.cartDetailSec>div{
    width: 355px;
    margin-left: 10px;
}
#txtPickUpLocation::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
#cartForm>div>input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
#cartForm>div>input{
    background-color: transparent;
}
#cartForm>div>input::placeholder{
    color: white;
}
#cartForm>div>input[type=date]{
    color: white;
}
#cartForm>div>input[type=time]{
    color: white;
}
/*#DatPickDate::placeholder{
    color: white;

}

#DatReturnTime,::placeholder{
    color: white;

}
#DatPickUpTime::placeholder{
    color: white;

}
#DatReturnDate::placeholder{
     color: white;

 }*/

#inputState{
    background-color: transparent;
}
#inputState::placeholder{
     color: white;
 }


#inputState {
    color: white;
}
option {
    color: black; // color of all the other options
}
#btnRentSubmit{
    transform: translate(185px, -54px);
    width: 170px;
    background-color: #5d00ff;
    border: none;
}
#cartForm>div>label{
    color: white;
}






