@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 13px;
    margin-left: 350px;
    font-size: 0.9em;
}

#HomeNavBarButton{
    margin: auto;
    width: 201px;
}

.home{
    position: relative;
    display: flex;
   /* flex-direction: column-reverse;*/
    width: 100%;
    width: 100%;
}
.homeText{
   /* background-color: black;*/
    width: 55em;
    height: 100vh;
    /* margin-left: 677px; */
    top: 100px;

}
.imgCon{
    width: 40em;
    height: 86vh;
   /* background-color: #e7280f;*/
    margin-top: 25px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 53px;
    position: relative;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
}
.imgCon>img{
    width: 737px;
    position: absolute;
    /* left: -134px; */
    /* bottom: 169px; */
    height: 395px;
    transform: translate(-138px, 72px);
}
.navbar{
    font-weight: normal;
}
.textOutCon{
    transform: translate(67px, 194px);
    width: 395px;
    width: 450px;
}
.textOutCon>h1{
    font-size: 3.02rem;
}
.textOutCon>h3{
    font-size: 1em;
   color: #e74c0f;

}
.searchBar{
    width: 812px;
    height: 79px;
    background-color: #ffffffad;
    position: absolute;
    transform: translate(82px, 488px);
    border-radius: 8px;
    /* border: 1px solid; */
    display: flex;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}
.searchBar>div:first-child{
    width: 25%;
    height: 100%;
    /*background-color: black;*/
    border-right: 1px solid black;
}
.searchBar>div:nth-child(2){
    width: 25%;
    height: 100%;
  /*  background-color: #5f0f0f;*/
    border-right: 1px solid black;
}
.searchBar>div:nth-child(3){
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
}
.searchBar>div:nth-child(4){
    width: 25%;
    height: 100%;

}
.searchBar>div:nth-child(4)>button{
    top: auto;
    align-content: center;
    transform: translate(32px, 16px);
    width: 136px;
    height: 48px;
    border: none;
    border-radius: 9px;
    background-color: #5d00ff;
    color: white;
}
#btnSignIn{
    width: 94px;
    height: 43px;
    border: 1px solid #7f01d9;
    border-radius: 9px;
    background-color: transparent;
    color: #7f01d9;
    margin-right: 8px;
    font-size: small;
}
#btnSignUp{
    border: none;
    border-radius: 9px;
    background-color: #7f01d9;
    color: white;
    width: 94px;
    height: 43px;
    font-size: small;
}

/*-----------------Section 2--------------------------------*/

.carSec{
    width: 98.7vw;
    height: 95vh;

}
.carSecText{

}
.carSecText>h1{
    text-align: center;
    font-weight: 600;
    color: #585454;
}
.carSecText>h2{
    text-align: center;
    color: #e74c0f;
}
.carCardCon{
    width: 80vw;
    height: 47vh;
    left: 0;
    right: 0;
    margin: auto;
    /*display: flex;
    flex-direction: row;
    gap: 20px;*/
    display: flex;
  justify-content: space-between;
    align-content: flex-end;
    column-gap: 40px;
    margin-top: 45px;
}

/*---------------Car image Card-----------------*/
.carCard1{
    position: relative;
    width: 22%;
    height: 100%;
 /*   border: 2px solid red;*/
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.carImg{
    height: 45%;
    border-radius: 10px;
  /*  border: 2px solid black;*/
}
#carouselExampleAutoplaying{
    border-radius: 10px;
}

/*---------------detail Container---------------*/
.detailCon{
    height: 55%;
    display: flex;
    flex-direction:column;

}
.detailCon>div:first-child{
    height: 50%;
    /*border: 2px solid black;*/
}
.detailCon>div:nth-child(2){
    height: 25%;
  /*  border: 2px solid red;*/
}
.detailCon>div:nth-child(3){
    height: 25%;
   /* border: 2px solid gold;*/
}

.detailCon>div:first-child>h1{
    font-size: 18px;
    font-weight: bold;
    transform: translate(10px, 5px);
}
.dailyPrice{
    transform: translate(10px, 4px);
    font-size: 16px;
    font-weight: bold;
    color: #e74c0f;
}
.monthlyPrice{
    transform: translate(10px, -2px);
    font-size: 13px;
    font-weight: 500;
    color: #7f01d9;
}
/*-------------------type container 2------------------------------*/

.typeCon{
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    margin-left: 22px;

}
.typeCon>div:first-child{
    width: 20%;

}
.typeCon>div:nth-child(2){
    width: 20%;
 /*   background-color: #5d00ff;*/
}
.typeCon>div:nth-child(3){
    width: 20%;
    /*background-color: #5d00ff;*/
}
.rentNow{
    background-color: #5d00ff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 218px;
    height: 33px;
    transform: translate(10px, 3px);
}
.typeCon>div>h1{
    font-size: 8px;
}
/*-----------------------------view More btn-----------------------*/
.viewMore{
    width: 74px;
    height: 24px;
    color: #e74c0f;
    transform: translate(638px, 45px);
    font-size: 10px;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid #e74c0f ;
    background-color: white;
}

/*---------------------Service Section --------------------------------*/
.serviceCon{
    position: relative;
    display: flex;
    /* flex-direction: column-reverse;*/
    width: 100%;
   /* background-color: #5d00ff;*/
}
.serviceImgCon{

    width: 55em;
    height: 85vh;
    /* margin-left: 677px; */
   /* top: 100px;*/
    position: relative;

}
.serviceImgCon>img{
    margin-left: -342px;
    top: 10px;
    margin-top: 33px;
    width: 1052px;
    height: 479px;
}
.serviceDetailCon{
    width: 40em;
    height: 85vh;
}

.ServiceSecText{
    transform: translate(-91px, 10px);
}
.ServiceSecText>h1{
    text-align: center;
    font-weight: 600;
    color: #585454;
    font-size: 30px;
}
.ServiceSecText>h2{
    text-align: center;
    color: #e74c0f;
    font-size: 25px;
}

.serviceListCon{
    width: 369px;
    height: 296px;
    margin-top: 51px;
    margin-left: 10px;

}
.serviceListCon>div:first-child{
    height: 33.3%;

}
.serviceListCon>div:nth-child(2){
    height: 33.3%;

}
.serviceListCon>div:nth-child(3){
    height: 33.3%;

}
.serviceListCon>div>h1{
    font-size: 23px;
    /* margin-right: -50px; */
    margin-left: 59px;
    margin-top: 14px;
}
.serviceListCon>div>h2{
    font-size: 16px;
    margin-left: 60px;
    margin-top: -6px;
    font-weight: 400;
}
.serviceListCon>div>img{
    width: 33px;
    height: 33px;
    position: absolute;
    margin-left: 15px;
    margin-top: 4px;
}

/*-----------------------------------------------Customer Detail Form-------------------------------------------*/
.title{
    font-size: 20px;
    margin-top: 31px;
    margin-left: 42px;
}
.detailsSecCon{
    position: relative;
    display: flex;
    flex-direction: row;

}
.detailImgSec{
    width: 50%;
    height: 80vh;
    margin-top: 40px;

}
.detailImgSec>img{
    width: 613px;
    transform: translate(10px, 70px);
}
.detailsSec{
    width: 50%;
    height: 80vh;
    margin-top: 15px;
    margin-left: 43px;
}
#cusRegNav{
    box-shadow: 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.2);
}
#cusDetailNav{
    box-shadow: 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.2);

}

/***************************************Login Page*************************/
.loginPageCon{
    width: 77vw;
    height: 85vh;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(21px);
    display: flex;
    flex-direction: row;
    z-index: 1;



}
.LoginImageCon{
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, #e7280f 50%, #ffb939);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.LoginDetailCon{
    width: 50%;
    height: 100%;
   background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.LoginImageCon>img{
    width: 712px;
    height: 364px;
    transform: translate(-60px, 215px);

}
.loginMainSec{
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
    opacity: 50%;
    height: 100%; width:100%;
    filter: blur(50px);
    position: absolute;
}
.loginFormOutCon{
    position: relative;
    width: 351px;

    transform: translate(92px, 90px);

}
#btnLogin{
    width: 237px;
    margin: auto;
    transform: translateX(55px);
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
    border: none;
}
.loginTextInLoginForm{
    font-size: 29px;
    margin-top: -24px;
}

/*-----------------------------------------------Show Car Section-----------------------------------*/

.carOutSec{
    width: 84.7vw;
    /* display: grid; */
    height: 80vh;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 52px;
    align-content: space-between;
    justify-items: center;
    column-gap: -45px;
    margin-top: 24px;
    gap: -68px;
    /* margin-right: -58px; */
    transform: translateX(102px);

}
.carCardInRent{
    position: relative;
    width: 240px;
    height: 318px;
    /* border: 2px solid red; */
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.carDetailSec{
    width: 91.7vw;
    /* height: 37px; */
    /* border: 2px solid black; */
    margin-top: 6px;
    transform: translateX(96px);
    display: flex;
    flex-direction: row;
    gap: 13px;
    background-color: white;

}

.btnCategoriesFind{
    height: 30px;
    width: 105px;
    border-radius: 4px;
    color: #5d00ff;
    background-color: transparent;

    border: 1px solid #5d00ff;
    font-size: 15px;

}
.rentCarImg{
    width: 1349px;
    height: 157px;
    display: flex;
    flex-direction: row;

}
.rentCarText{
    margin-left: 92px;
    margin-top: 48px;
    /* text-align: center; */
}
.rentCarText>h2{
    color: #e74c0f;
    font-size: 26px;
}
.rentCarText>h1{

    font-size: 30px;
}
.rentCarImg>img{
    /* width: 239px; */
    transform: translate(447px, 4px);
}
.navUserNameCon{
    margin-top: -6px;
    width: 264px;
    height: 46px;
    cursor: pointer;

}
.navUserNameCon>img{
    width: 27px;
    margin-top: 15px;
}
.navUserNameCon>h1{
    font-size: 13px;
    margin-left: 35px;
    transform: translateY(-27px);
}
.navUserNameCon>h2{
    font-size: 10px;
    margin-left: 35px;

    transform: translateY(-36px);
}

/*---------------------------------------car cart--------------------------------------*/

.cartOutCon{
    width: 91.7vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    /* row-gap: 16px; */
    /* margin-top: 185px; */
    transform: translate(55px, 47px);
}
.tableSec{
    width: 70%;
    height: 100%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 5);
    border-radius: 10px;
}
.cartDetailSec{
    width: 30%;
    height: 100%;

    /* margin-right: 35px; */
    margin-left: 16px;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
    border-radius: 10px;

}
.tableSec>table{
    margin-top: 3%;
    border-collapse: separate;
    border-spacing: 1em;
}
.tableSec>h2{
    transform: translate(13px, 18px);
    font-weight: 600;
}
.tableSec>table>tbody>tr{
    /* width: 129px; */
    height: 71px;
    column-gap: 10px;
    gap: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.tableSec>table>tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    text-align: center;

    vertical-align:middle;
}
.tableSec>table>thead>tr>th{
font-size: 14px;
}
#cartForm{
    margin-top: -30px;
}

#cartForm>div>input[type="file"]::-webkit-file-upload-button {
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 1s;
    color: white;
}
.cartDetailSec>h2{
    transform: translate(13px, 18px);
    font-weight: 600;
    color: white;
}
.cartDetailSec>div{
    width: 355px;
    margin-left: 10px;
}
#txtPickUpLocation::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
#cartForm>div>input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
#cartForm>div>input{
    background-color: transparent;
}
#cartForm>div>input::placeholder{
    color: white;
}
#cartForm>div>input[type=date]{
    color: white;
}
#cartForm>div>input[type=time]{
    color: white;
}
/*#DatPickDate::placeholder{
    color: white;

}

#DatReturnTime,::placeholder{
    color: white;

}
#DatPickUpTime::placeholder{
    color: white;

}
#DatReturnDate::placeholder{
     color: white;

 }*/

#inputState{
    background-color: transparent;
}
#inputState::placeholder{
     color: white;
 }


#inputState {
    color: white;
}
option {
    color: black; // color of all the other options
}
#btnRentSubmit{
    transform: translate(259px, -12px);
    width: 94px;
    background-color: #5d00ff;
    border: none;
    height: 30px;
    font-size: 14px;
}
#cartForm>div>label{
    color: white;
}

/*----------------total--------------*/
.lblPrice>h2{
    font-size: 15px;
    color: white;
}
#totalSec{
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 349px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 137px;
}
.lblPrice{
    width: 50%;
    height: 100%;
    margin-top: 4px;
}
.lblAmount{
    width: 30%;
    height: 100%;
    margin-top: 4px;
}
.lblAmount>h2{
    font-size: 15px;
    color: white;
}

/*----------------------------DashBoard------------------------------------------*/
:root{
    --black-color:#e7280f;
    --white-color:#fff;
    --sky-color:#E4E9F7;
    --light-black: #ffb939;
}
.nav_list{
    transform: translate(-30px, 9px);
}

::selection{
    color:var(--white-color);
    background: var(--black-color);
}
.sidebar{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:78px;
    background:var(--black-color);
    padding:6px 14px;
    z-index:99;
    transition:all 0.5s ease;
}
.sidebar.active{
    width:240px;
}
.sidebar .logo_content .logo{
    color:var(--white-color);
    display: flex;
    height:50px;
    width:100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition:all 0.5s ease;
}
.sidebar.active .logo_content .logo{
    opacity:1;
    pointer-events: none;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position:absolute;
    color:var(--white-color);
    top:6px;
    left:50%;
    font-size: 22px;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left:90%;
}
.sidebar ul{
    margin-top:20px;
}
.sidebar ul li{
    position:relative;
    height:50px;
    width:100%;
    margin:5px 0;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position:absolute;
    left:125px;
    top:0;
    transform:translate(-50%, -50%);
    border-radius: 6px;
    height:35px;
    width:120px;
    background: var(--white-color);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:0s;
    opacity:0;
    pointer-events: none;
    display:block;
}
.sidebar ul li .tooltip::before{
    content:'';
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid var(--white-color);
    position:absolute;
    left:-8px;
    top:7px;
}
.sidebar.active ul li .tooltip{
    display:none;
}
.sidebar ul li:hover .tooltip{
    transition:all 0.5s ease;
    opacity:1;
    top:50%;
}
.sidebar ul li input{
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
    border-radius: 12px;
    outline:none;
    border:none;
    background: #1d1b31;
    padding-left:50px;
    font-size: 18px;
    color:var(--white-color);
}
.sidebar ul li .bx-search{
    position:relative;
    z-index: 99;
    color:var(--white-color);
    font-size: 22px;
    transition:all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
    background:var(--white-color);
    color:#1d1b31;
}
.sidebar ul li a{
    color:var(--white-color);
    display:flex;
    align-items:center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition:all 0.4s ease;
}

.sidebar ul li a:hover{
    color:var(--black-color);
    background:var(--white-color);
}
.sidebar ul li i{
    font-size: 18px;
    font-weight: 400;
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    font-size: 15px;
    font-weight: 400;
    opacity:0;
    pointer-events: none;
    transition:all 0.3s ease;
}
.sidebar.active .links_name{
    transition:0s;
    opacity:1;
    pointer-events: auto;
}
.sidebar .content{
    position:absolute;
    color:var(--white-color);
    bottom:0;
    left:0;
    width:100%;
}
.sidebar .content .user{
    position:relative;
    padding:10px 6px;
    height:60px;
    background: none;
    transition:all 0.4s ease;
}
.sidebar.active .content .user{
    background:var(--light-black);
}
.content .user .user_details{
    display:flex;
    align-items:center;
    opacity:0;
    pointer-events: none;
    white-space: nowrap;
    transition:all 0.4s ease;
}
.sidebar.active .user .user_details{
    opacity:1;
    pointer-events: auto;
}
.content .user .user_details img{
    height:45px;
    width:45px;
    object-fit: cover;
    border-radius: 12px;
}
.name_job{
    margin-left:10px;
}
.user_details .name{
    font-size: 15px;
    font-weight: 400;
}
.user_details .job{
    font-size: 12px;
}
#log_out{
    position:absolute;
    bottom:5px;
    left:50%;
    transform:translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition:all 0.4s ease;
}
.sidebar.active .user #log_out{
    left:80%;
    background:none;
}
.home_content{
    position:absolute;
    height:100%;
    width:calc(100% - 78px);
    left:78px;
    background:var(--sky-color);
    padding:20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:all 0.5s ease;
}
.sidebar.active ~ .home_content{
    z-index:100;
    width:calc(100% - 240px);
    left:240px;
}
.home_content .text{
    font-size: 25px;
    font-weight: 600;
    color:var(--light-black);
    margin-bottom:15px;
}
.home_content p{
    margin-bottom:15px;
}
*, ::after, ::before {
     box-sizing:border-box;

}
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 260%;
    margin: 5px 0;
    list-style: none;
    line-height: 50px;
}
.dashBoardCon{
    width: 98.7vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.DashBoardDetail{
    width: 100%;
    height: 100%;
    margin-left: 78px;
    display: flex;
    flex-direction: column;
    z-index: 99;


}
.shortCutCon{
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    gap: 54px;
    justify-content: center;
    margin-top: 18px;

}
.dashBoardCard{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
}
.cardDetail{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
}
.cardLink{
    width: 100%;
    height: 25%;
}
.cardImg{
    width: 40%;
    height: 100%;
    position: relative;
}
.cardText{
    width: 60%;
    height: 100%;

}
.cardImg>img{
    width: 70%;
    margin-top: 28px;
    margin-left: 17px;
}
.cardText>h2{
    font-size: 90%;
    font-weight: 400;
    text-align: center;
    transform: translateY(32px);
}
.cardText>h1{
    transform: translate(13px, 26px);
    width: 100%;

}
.cardLink{
    position: relative;
    background: #E7280FFF;
}
.cardLink>h4{
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    margin-left: 70%;
    transform: translateY(11px);
    color: white;
    padding-right: -44px;
    text-align: center;
}

/*-------------------------------------------Car Manage--------------------------------*/
.AdminRentalOutCon{
    width: 94.7vw;
    height: 102vh;
    display: flex;
    flex-direction: row;
    /* row-gap: 16px; */
    /* margin-top: 185px; */
    transform: translate(33px, 47px);

}
.carDetailsSecCon{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.carManageSec{
    width: 97%;
    height: 50vh;
    transform: translateX(17px);
    margin-top: -24px;
}
.carManageImgSec{
    width: 98.7vw;
    height: 50vh;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
}
.carManageImgSec>img{
    transform: translate(160px, 48px);
}
.carManageImgSec>h1{
    position: absolute;
    color: white;
    font-size: 140px;
    transform: translate(227px, -8px);
    font-weight: bolder;
    /* text-align: center; */
}
.slipImg{
    width: 60%;
    height: 181px;
    border: 2px solid white;
    transform: translate(59px, 25px);

}
.adminRentalSec{
    width: 25%;
    height: 100%;

    /* margin-right: 35px; */
    margin-left: 16px;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 1);
    border-radius: 10px;
}
.adminRentalSec>h2{
    transform: translate(13px, 18px);
    font-weight: 600;
    color: white;
}
.adminRentalSec>h3{
    font-size: 13px;
    color: white;
    transform: translate(16px, 1px);
}
#lblLossDamagePayment{
    transform: translate(16px, 21px);

}
.adminRentalTableSec{
    width: 100%;
    height: 562px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 5);
    border-radius: 10px;
}
.adminRentalTableSec>table{
    /*margin-top: 3%;*/
    border-collapse: separate;
    border-spacing: 1em;
}
.adminRentalTableSec>h2{
    transform: translate(13px, 18px);
    font-weight: 600;
}
.adminRentalTableSec>table>tbody>tr{
    /* width: 129px; */
    height: 71px;
    column-gap: 10px;
    gap: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.adminRentalTableSec>table>tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    text-align: center;

    vertical-align:middle;
}
.adminRentalTableSec>table>thead>tr>th{
    font-size: 14px;
}
.nicImg{
    width: 60%;
    height: 181px;
    border: 2px solid white;
    transform: translate(59px, 10px);

}
.adminMainSec{
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 756px;
    gap: 10px;
}
.adminDriver{
    width: 100%;

    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 5);
    border-radius: 10px;
}
#lblCar {
    font-weight: 600;
    font-size: 19px;
    transform: translate(10px, 10px);

}
.btnAccept{
    transform: translate(130px, 127px);
    width: 190px;
}
.btnAccept>button:first-child{
    background: green;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 86px;
    height: 30px;
}
.btnAccept>button:nth-child(2){
    background: red;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 86px;
    height: 30px;
}

.vhTitle{
    margin-left: 10px;
    font-size: 26px;
}
#txtVHSearch{
    width: 200px;
    transform: translate(1023px, -65px);
}
#btnVhSearch{
    transform: translate(1241px, -124px);
    background: #5d00ff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 81px;
    height: 32px;
}
.allVehicleCon{
    margin-top: -17px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 5);
    border-radius: 10px;
}
#lblAllVehicle{
    font-size: 26px;
    transform: translate(10px, 235px);
    width: 200px;
}
#vhThead{
    font-size: 13px;
}

/*------------------------driver------------------------------*/
.driverDetailsSec{
    width: 45%;
    height: 80vh;
    margin-top: 43px;
    margin-left: 43px;
}
.driverDetailImgSec{
    width: 45%;
    margin-top: 58px;
}
.driverDetailsSecCon{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
#txtDrSearch{
    transform: translate(1061px, -38px);
}
#btnDriSearch{
    transform: translate(1065px, -38px);
    background:#5d00ff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

/*----------------------------------cus reg-----------------------------------------*/
#rentCon{
    height: 220px;
    margin-top: -84px;
    width: 80%;
    margin-left: 96px;

    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 5);
    border-radius: 10px;
}

#lblRental{
    font-size: 20px;
    font-weight: 600;
    transform: translate(43px, -110px);
    width: 200px;
}

#adminNavbarNav{
    margin-left: -87px;
}
#adminNav{
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
}

/*--------------------------------Admin Refactor---------------------*/

/*comment this style to get back to previous style in admin Car manage form*/
.carDetailsSecCon{
    width: 94%;
    margin-left: 76px;
}
.carManageImgSecAdmin{
    width: 93.2vw;
    height: 50vh;
    transform: translateX(0px);
    margin-top: 0px;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
}
.carManageImgSecAdmin>img{
    transform: translate(100px, 48px);
}
.carManageImgSecAdmin>h1{
    position: absolute;
    color: white;
    font-size: 140px;
    transform: translate(147px, -8px);
    font-weight: bolder;
}
#txtVHSearch{
    width: 200px;
    transform: translate(932px, -65px);
}
#btnVhSearch{
    transform: translate(1141px, -124px);
    background: #5d00ff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 81px;
    height: 32px;
}
.carManageImgSec{
    width: 97%;
    height: 50vh;
    transform: translateX(17px);
    margin-top: -24px;
}

/*Admin Rental Req refactor-------------------------------------*/
.AdminRentalOutCon {
    width: 90.7vw;
    height: 102vh;
    display: flex;
    flex-direction: row;
    /* row-gap: 16px; */
    /* margin-top: 185px; */
    transform: translate(93px, 47px);
}
.btnAccept {
    transform: translate(113px, 127px);
    width: 190px;
}
/*---------------------Driver Admin Refactored -----------*/
.driverDetailsSecCon {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 96vw;
    margin-left: 54px;
}
.title {
    font-size: 20px;
    margin-top: 31px;
    margin-left: 100px;
}
#viewCusMainCon{
    width: 94.2vw;
    height: 100vh;
    border: 2px solid black;
    margin-left: 78px;
    display: flex;
    flex-direction: column;
}
#cusImgCon{
    width: 100%;
    height: 40%;
    border: 2px solid black;
}
#cusTblCon{
    width: 100%;
    height: 60%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}
#cusTblOut{
    width: 65%;
    height: 100%;


}
#cusNicImgCon{
    width: 35%;
    height: 100%;
    border: 2px solid red;
}
#cusNicImgOut{
    width: 65%;
    height: 70%;
    border: 2px solid black;
    transform: translate(63px, 14px);
}
#cusNicImgCon>h2{
    font-size: 17px;
    transform: translate(103px, 3px);
    font-weight: 700;
    width: 200px;
}









