@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 13px;
    margin-left: 380px;
    font-size: 0.9em;
}
.home{
    position: relative;
    display: flex;
   /* flex-direction: column-reverse;*/
    width: 100%;
    width: 100%;
}
.homeText{
   /* background-color: black;*/
    width: 55em;
    height: 100vh;
    /* margin-left: 677px; */
    top: 100px;

}
.imgCon{
    width: 40em;
    height: 86vh;
   /* background-color: #e7280f;*/
    margin-top: 25px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 53px;
    position: relative;
    background: linear-gradient(160deg, #e7280f 50%, #ffb939);
}
.imgCon>img{
    width: 728px;
    position: absolute;
    /* left: -134px; */
    /* bottom: 169px; */
    height: 443px;
    transform: translate(-131px, 52px);
}
.navbar{
    font-weight: normal;
}
.textOutCon{
    transform: translate(67px, 194px);
    width: 395px;
    width: 450px;
}
.textOutCon>h1{
    font-size: 3.02rem;
}
.textOutCon>h3{
    font-size: 1em;
   color: #e74c0f;

}
.searchBar{
    width: 812px;
    height: 79px;
    background-color: #d3d1d1ad;
    position: absolute;
    transform: translate(82px, 488px);
    border-radius: 8px;
    /* border: 1px solid; */
    display: flex;

}
.searchBar>div:first-child{
    width: 25%;
    height: 100%;
    background-color: black;
}
.searchBar>div:nth-child(2){
    width: 25%;
    height: 100%;
    background-color: #5f0f0f;
}
.searchBar>div:nth-child(3){
    width: 25%;
    height: 100%;
    background-color: black;
}
.searchBar>div:nth-child(4){
    width: 25%;
    height: 100%;
    background-color: #5f0f0f;
}
